body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    margin-top: 20%;
    font-size: 2em;
}

.dark-mode {
    background-color: black;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}